<!DOCTYPE html>
<html lang="{{ meta.mainLanguage }}">
  <head>
    <title>{% if title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}</title>
    {%include "components/pageheader.njk"%}
  </head>
  <body class="theme-dark markdown-preview-view markdown-rendered markdown-preview-section">
    <main class="content cm-s-obsidian">
      {%include "components/accessGate.njk"%}
    </main>
  </body>
</html>
