/***
* DO NOT ADD/MODIFY STYLING HERE. IT WILL BE OVERWRITTEN IF YOU UPDATE THE TEMPLATE VERSION.
* MODIFY THE custom-style.scss FILE INSTEAD.
***/

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.content {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 50px;
    position: relative;
    padding: var(--tg-spacing);
    border-radius: var(--tg-radius);
    background: var(--tg-surface);
    
    // Защита от копирования
    -webkit-user-select: none;
    user-select: none;
    pointer-events: auto;

    @media (max-width: 800px) {
        margin-top: 30px;
        padding: 15px;
    }
}

.external-link {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, transparent), url("/img/outgoing.svg");
    background-size: 13px;
    padding-right: 16px;
    background-position-y: 4px;
    cursor: pointer;
}

.internal-link {
    text-decoration: underline;
    color: var(--text-accent);
}

.internal-link.is-unresolved {
    color: rgb(97 186 245 / 65%);
}
